* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif, arial ;
}


.clas {
    border-bottom: 1px solid red;
    padding: 1em;
    margin-bottom: 1em;
}

body {
    padding-bottom: 500px;
}